/* --------------product detail--------------------------------------------- */
.card-wrapper{
    margin-top: 20px !important;
    max-width: 1100px;
    margin: 0 auto;
    
}
.card{
    border: none !important;
    display: flex;
    flex-direction: row !important;
}
.product-imgs{
    width: 50%;
}
.product-content{
    width: 50%;
}
.imgP{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.3s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
/* ----------------- */
.product-content{
    padding: 2rem 3rem;
}
.product-nameP{
    color: #0a263c;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    margin: 0 10px 0 0;
    overflow: hidden;
    height: 30px;
}
/* box-memory */
.box-memory{
    width: 100%;
    display: flex;
    margin: 0 !important;
}
.box-memory a{
    align-items: center;
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    color: #444;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 3px;
    justify-content: center;
    margin: 0 2px 5px;
    overflow: hidden;
    padding: 5px 4px;
    text-decoration: none;
    width: calc(33.33333% - 6.66667px);
}
.menory-item{
    text-align: center;
    color: #363636;
    font-weight: 700;
}
.menory-item-price{
    color: #363636;
    font-weight: 400;
}
.product-color-title{
    color: #444;
    font-size: 14px;
    font-weight: 700; 
}
.product-color-title p{
    margin: 0 !important;
}
/* box-color */
.box-color{
    width: 100%;
}
.box-color-title{
    width: 100%;
    color: #444;
    font-size: 14px;
    font-weight: 700; 
}
.box-color-title p{
    margin-bottom: 5px;
}
.box-color-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 !important;
}
.box-color-content a{
    align-items: center;
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    color: #444 !important;
    cursor: pointer;
    display: flex !important;
    flex-direction: row !important;
    font-size: 12px;
    justify-content: center;
    margin-right: 4px !important;
    margin-bottom: 4px;
    overflow: hidden;
    padding: 5px 5px !important;
    text-decoration: none;
    width: calc(33.33333% - 6.66667px);
    
}
.color-item-content{
    width: 100%;
}
.box-color-content a img{
    margin-right: 4px;
    width: 40px; 
    height:40px;
}
.color-item-content-name{
    color: #444;
    font-weight: 600;
}
/* product-price */
.detail-product-price{
    background: #fff;
    border: 1px solid red;
    box-shadow: 0 4px 4px rgba(255,0,0,.15), 0 -1px 1px rgba(255,0,0,.15);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    position: relative;
    text-align: center;
    transition: background-color .5s ease;
    width: 49%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.detail-product-price-show{
    color: #fd2424 !important;
    font-size: 20px;
    margin: 0 !important;
    font-weight: 700;
}
.detail-product-price-sale{
    margin: 0 !important;
    text-decoration: line-through;
}
/* .product-detail */
.product-detail{
    margin-top: 20px;

    height: auto;
    border: 1px solid #fee2e2;
    border-radius: 10px;
    overflow: hidden;
}
.product-detail-title{
    text-align: center;
    background-color: #fee2e2;
    color: #d70018;
    padding: 5px;
    height: 42px;
}
.product-detail u{
    list-style-type: disc !important;
}
.product-detail-title{
    font-size: 20px;
    font-weight: 600;
}
.product-detail-content{
    padding: 0;
}
.product-detail-item{
    display: flex;
    font-size: 14px;
    width: calc(100% - 25px);
    padding-left: 10px;
    padding-bottom: 5px;
}
.product-detail-item::before{
    align-items: center;
    color: rgb(100, 100, 100);
    content: "+";
    font-size: 20px;
    height: 22px;
    margin-right: 5px;
    width: auto;
}
/* ------------ */
.box-order-button{
    margin-top: 30px;
    display: flex;
    width: 100%;
}
.order-button{
    position: relative;
    background: #f52f32;
    border: none;
    border-radius: 10px;
    height: 60px;
    margin-bottom: 10px;
    outline: none;
    width: calc(100% - 70px);
    margin-right: 10px;

    align-items: center;
}

.order-button-submit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f52f32;
    border: none;
    color: #fff;
    text-align: center;
    font-weight: 700;
}
.add-to-cart-button{
    border: 2px solid #e04040;
    border-radius: 10px;
    flex-direction: column;
    height: 60px;
    width: 100%;
    padding: 10px 10px;
    color: #fff;
}
.cart-icon{
    color: #e04040;
}
.add-to-cart-button p{
    color: #e04040;
    font-size: 7.5px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    align-items: end;
    
}
@media only screen and (max-width: 820px){
    .card-wrapper{
        margin-top: 60px !important;   
    }
    .card{
        display: flex;
        flex-direction: column !important;
    }
    .product-imgs{
        width: 100%;
    }
    .product-content{
        width: 100%;
    }
    .product-detail{
        width: 100%;
    }

}
@media only screen and (max-width: 420px){
    .card-wrapper{
        margin-top: 60px !important;
    }
}