:root{
    --LightGold-color: #ffeba7; 
    --Bg-color: #2b2e38;
    --green-color: #1a955c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    min-height: 100vh;
}
a {
    color: #000000 !important;
    text-decoration: none;
    background-color: transparent;
}
li {
    list-style: none;
}
h1, h2 {
    color: #444;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color,inherit);
}
h3{
    color: #999;
}
.btn{
    background: rgba(238, 224, 208);
    color: white;
    padding: 5px 10px;
    text-align: center;
}
.btn:hover{
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid rgb(0, 0, 0);; 
}
/* ------------side-menu----------- */
.side-menu {
    position: fixed;
    background: var(--Bg-color);
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.side-menu .brand-name{
    height: 10vh;
    position: relative;
}
.brand-name-title a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: var(--LightGold-color) !important;
    font-weight: 600;
}
.list-item{
    padding: 40px 40px;
    width: 100%;
}
.active{
    padding: 5px 10px;
    height: 50px;
    border: 1px solid #e11b1e;
    border-radius: 10px;
    background-color: #4a4c56 !important;
}
.item-text{
    width: 100%;
    margin-bottom: 10px;
}
.item-text a{
    text-decoration: none;
    font-size: 26px;
    color: var(--LightGold-color) !important;
    font-weight: 500;
    display: flex;
}
.item-icon{
    margin-right: 10px;
}

.container{
    position: absolute;
    right: 0;
    width: 76%;
    height: 100vh;
    background: #f1f1f1;
}
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 76%;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;
}
.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.container .header .nav .search button{
    width: 42px;
    height: 44px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* .container .header .nav .search button img{
    width: 30px;
    height: 30px;
}
.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header .nav .user img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
}
.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card{
    width: 200px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container .content .content-2 .customer-info{
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .recent-payment{
    min-height: 50vh;
    flex: 2;
    background: white;
    margin: 0 25px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .recent-payment table td:nth-child(1) img{
    height: 40px;
    width: 40px;
}