.changeP-page{
    width: 100%;
}
.changeP-page-mobile{
    margin: 0 auto;
}
.changeP-page-mobile .changeP-container {
    max-width: 600px;
    min-height: auto;
    margin: 0 auto;
}
.changeP-top-ct{
    min-height: 53px;
    padding: 0 0 0 10px;
}
.changeP-top-title{
    font-size: 25px;
    font-weight: 700;
    color: #fd2424;
    text-align: center;
}
.changeP-content{
    padding: 10px;
    margin-bottom: 30px;
}
.changeP-content-title{
    font-size: 16px;
    font-weight: 600;
}
.group__item{
    width: 100%;
    height: 40px;
    background: #dcdcdc;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.active-inputCP{
    width: 100%;
}
.form-changeP{
    display: flex;
    flex-direction: column;
}
.botton-submit-changeP{
    width: 100%;
    cursor: pointer;
    display: block;
    background: #fd2424;
    border: none;
    box-shadow: 0 4px 4px rgba(255,0,0,.2);
    border-radius: 25px;
    text-align: center;
    padding: 11px 0;
    margin-top: 20px;
    color: #fff;
}