@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
:root{
    --LightGold-color: #ffeba7; 
    --Bg-color: #2b2e38;
    --green-color: #1a955c;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif !important;
	font-weight: 300 !important;
	line-height: 1.7;
    padding-top: 50px;
    background-color: #f8f8f8;
}
.header{
    background-color: var(--Bg-color);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    align-items: center;
    margin: 0 auto;
}
header.header.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.logo{
    align-items: center;
}
.logoC{
    font-size: 24px;
    list-style-type: none;
    color: var(--LightGold-color);
    text-decoration: none;
    margin-right: 50px;
}
a.logoC{
    margin-left: 15px;
}
.logoC:hover{
    color: var(--green-color);
}
.logo ul{
    list-style: none;
    margin: 0 10px;
    display: none;
}
.connect{
    font-size: 18px !important;
    color: var(--LightGold-color);
}
.logo .bi{
    color: var(--LightGold-color);
    text-decoration: none;
    font-size: 18px;
    padding:  0px 10px !important;
    transition: 0.5s;
}
.search input{
    position: relative;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
    font-size: 16px;
}
button.btn.btn-outline-success.search-btn{
    width: 45px;
    border: none;
    border-radius: 0 15px 15px 0;
    color: var(--LightGold-color);
    background-color: var(--green-color);
}
button.btn.btn-outline-success.search-btn:hover{
    color: white !important;
}
.bi-search:hover{
    color: white !important;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons .bi{
    color: var(--LightGold-color);
    text-decoration: none;
    font-size: 26px;
    padding:  0px 20px !important;
    transition: 0.5s;
}
.bi-person-circle::before{
    list-style: none;
}
ul.dropdown-menu.show{
    background-color: var(--Bg-color);
}
span{
    font-size: 18px !important;
    color: var(--LightGold-color);
}
span:hover{
    color: var(--green-color) ;
}
.bi:hover{
    color: var(--green-color);
}
.bi-person-circle:hover{
    color: var(--green-color) !important;
}
a.nav-link.bi.bi-person-circle{
    color: var(--LightGold-color);
}
.dropdown-item:hover{
    background-color: none;
}

.links{
    background-color: var(--Bg-color);
    display: none;
    transition: 0.6s;

}
.links a{
    color: var(--LightGold-color);
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 18px;
    transition: 0.6s;

}
.links a:hover{
    color: var(--green-color);
}
.links li{
    list-style: none;
}
.showmyLinks{
    display: block;
}
.dropdown-divider{
    list-style: none;
}
li.nav-item{
    list-style-type: none;
}
li.nav-item.dropdown{
    list-style-type: none;
    color: var(--LightGold-color);
    margin-top: 2px;
}
a.nav-link.dropdown-toggle{
    color: var(--LightGold-color);
    font-size: 18px;
}
@media only screen and (max-width: 1450px){
    .logo{
        align-items: center;
    }
    .icons{
        align-items: center;
    }
    .icons .bi{
        font-size: 22px;
        padding:  0px 13px !important;
    }
    
    span{
        font-size: 18px !important;
    }
    .connect{
        font-size: 14px !important;
        margin-top: 2px;
    }
    a.nav-link.dropdown-toggle{
        font-size: 16px;
    }
    .search input{
        height: 35px;
    }
    ::before{
        font-size: 20px;
    }
}
@media only screen and (max-width: 1100px){
    .logo{
        align-items: center;
    }
    .logoC{
        margin-right: 0px;
    }
    .icons{
        align-items: center;
    }
    .icons .bi{
        font-size: 18px !important; 
        padding:  0px 6px;
    }
    span{
        font-size: 12px !important;
    }
    a.nav-link.dropdown-toggle{
        font-size: 14px;
    }
    .connect{
        display: none !important;
    }
}
@media only screen and (max-width: 820px){
    .header{
        grid-template-columns: auto auto;
        padding: 10px 10px;
        height: auto;
        text-align: center;
        justify-content: space-between;
    }
    .logo{
        align-items: center;
    }
    .logoC{
        margin: 0 !important;
    }
    .search{
        grid-column: 2;
        grid-row: 2;
        grid-column: 1/span 2;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .icons{
        margin-left: 40px !important;
    }
    .icons .bi{
        font-size: 18px !important;
        padding: 0 10px !important;
    }
    span{
        font-size: 14px !important;
    }
    a.nav-link.dropdown-toggle{
        font-size: 12px;
    }
}
@media only screen and (max-width: 530px){
    .logoC{
        font-size: 18px;
    }
    .icons .bi{
        padding: 0 5px !important;
        font-size: 12px !important;
    }
    span{
        font-size: 10px !important;
    }
    .logo ul{
        display: none !important;
    }
}
/* ---------------body----------------------- */
.container{
    max-width: 1200px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}
.left-col{
    width: 21%;
    background-color: #f6fbfc;
    border-radius: 10px;
    margin-top: 60px;
}
.block-menu{
    padding: 10px 10px;
}
.block-menu a{
    list-style: none;
    text-decoration: none;
    color: #686868;

    display: flex;

    padding: 10px 20px;
}
.block-menu-item{
}
.active1 a{
    width: 230px;
    height: 50px;
    border: 1px solid #e11b1e;
    border-radius: 10px;
    background-color: #fee;
    color: #fd2424 !important;
}
.block-menu__item-icon{
    margin-right: 5px;
    font-size: 16px;
}
.block-menu__item-name{
    /* padding-bottom: 20px; */
    font-size: 16px;
    
}
.right-col{
    width: 77%;
    height: 1000px;
    margin-top: 60px;
}
/* -----------------user-info-page------------ */
.user-info-page{
    width: 100%;
}
.user-info-mobile{
    margin: 0 auto;
}
.user-info-mobile .ct-container {
    min-height: 1000px;  
}
.user-info-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e11b1e;
    margin: 10px auto 0;
}
.user-info-avatar-name{
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
    color: rgb(74,74,74);
    font-size: 20px;
}
.form-group{

}
/* ------------------purchase-history---------------- */
.purchase-history-page{
    width: 100%;
}
.purchase-history-mobile{
    margin: 0 auto;
}
.purchase-history-mobile .ct-container {
    min-height: 1000px;  
}
.order-title{
    font-size: 25px;
    font-weight: 700;
    color: #fd2424;
    text-align: center;
}
.purchase-history-mobile .block-info {
    grid-gap: 80px;
    gap: 80px;
    margin-top: 50px;

}
.block-info{
    display: flex !important;
    justify-content: center !important;
}
.block-info-item{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}
.item-icon{
    color: #fd2424;
    font-size: 32px;
}
.item-content{
    margin-top: 8px;
}
.order-list-container{
    margin-top: 50px;
}
.order-list-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-list-item{
    font-size: 16px;
    color: #686868;
    cursor: pointer;
    font-family: 400;
}
.active{
    font-weight: 600;
    color: #fd2424;
}

.order-list-table{
    margin-top: 20px;
}
.table-head{
    border: 0.5px solid #b8b8b8;
    border-radius: 15px;
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.table-head-item{
    text-align: center;
}
.table-content p{
    text-align: center;
}