@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
:root{
    --LightGold-color: #ffeba7; 
    --Bg-color: #2b2e38;
    --green-color: #1a955c;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif !important;
	font-weight: 300 !important;
	line-height: 1.7;
    padding-top: 50px;
    background-color: #f8f8f8;
}

.header{
    background-color: var(--Bg-color);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    align-items: center;
    margin: 0 auto;
}
header.header.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.logo{
    align-items: center;
}
.logoC{
    font-size: 24px;
    list-style-type: none;
    color: var(--LightGold-color);
    text-decoration: none;
    margin-right: 50px;
    margin-left: 30px;
}
a.logoC{
    margin-left: 100px !important;
}
.logoC:hover{
    color: var(--green-color);
}
.logo ul{
    list-style: none;
    margin: 0 10px;
    display: none;
}
.connect{
    font-size: 18px !important;
    color: var(--LightGold-color);
}
.logo .bi{
    color: var(--LightGold-color);
    text-decoration: none;
    font-size: 18px;
    padding:  0px 10px !important;
    transition: 0.5s;
}
.search input{
    position: relative;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
    font-size: 16px;
}
button.btn.btn-outline-success.search-btn{
    width: 45px;
    border: none;
    border-radius: 0 15px 15px 0;
    color: var(--LightGold-color);
    background-color: var(--green-color);
}
button.btn.btn-outline-success.search-btn:hover{
    color: white !important;
}
.bi-search:hover{
    color: white !important;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* icon-cart */
.icon-cart{
    position: relative;
}
.fa-bag-shopping{
    color: var(--LightGold-color);
}
.fa-bag-shopping:hover{
    color: var(--green-color);
}
.fa-bag-shopping::before{
    font-size: 36px;
}
.box-number-order{
    position: absolute;
    color: var(--green-color);
    top: 13px;
    left: 4px;
    font-size: 18px !important;
    cursor: pointer;
    width: 22px;
    text-align: center;
}
.icon-cart:hover .number-order{
    color: #ffffff !important;
}
/* ------------- */
.icons .bi{
    color: var(--LightGold-color);
    text-decoration: none;
    font-size: 26px;
    padding:  0px 20px !important;
    transition: 0.5s;
}
.bi-person-circle::before{
    list-style: none;
}
ul.dropdown-menu.show{
    background-color: var(--Bg-color);
}
span{
    font-size: 18px !important;
    color: var(--LightGold-color);
}
span:hover{
    color: var(--green-color) ;
}
.bi:hover{
    color: var(--green-color);
}
.bi-person-circle:hover{
    color: var(--green-color) !important;
}
a.nav-link.bi.bi-person-circle{
    color: var(--LightGold-color);
}
.dropdown-item:hover{
    background-color: none;
}

.links{
    background-color: var(--Bg-color);
    display: none;
    transition: 0.6s;

}
.links a{
    color: var(--LightGold-color);
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 18px;
    transition: 0.6s;

}
.links a:hover{
    color: var(--green-color);
}
.links li{
    list-style: none;
}
.showmyLinks{
    display: block;
}
.dropdown-divider{
    list-style: none;
}
li.nav-item{
    list-style-type: none;
}
li.nav-item.dropdown{
    list-style-type: none;
    color: var(--LightGold-color);
    margin-top: 2px;
}
a.nav-link.dropdown-toggle{
    color: var(--LightGold-color);
    font-size: 18px;
}
@media only screen and (max-width: 1450px){
    .logo{
        align-items: center;
    }
    a.logoC{
        margin-left: 0 !important;
    }
    .icons{
        align-items: center;
    }
    .icons .bi{
        font-size: 22px;
        padding:  0px 13px !important;
    }
    
    span{
        font-size: 18px !important;
    }
    .connect{
        font-size: 14px !important;
        margin-top: 2px;
    }
    a.nav-link.dropdown-toggle{
        font-size: 16px;
    }
    .search input{
        height: 35px;
    }
}
@media only screen and (max-width: 1100px){
    .logo{
        align-items: center;
    }
    .logoC{
        margin-right: 0px;
    }
    .icons{
        align-items: center;
    }
    .icons .bi{
        font-size: 18px !important; 
        padding:  0px 6px;
    }
    span{
        font-size: 12px !important;
    }
    a.nav-link.dropdown-toggle{
        font-size: 14px;
    }
    .connect{
        display: none !important;
    }
    .links.showmyLinks {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 820px){
    .header{
        /* width: 95% !important;  */
    }
    .header{
        grid-template-columns: auto auto;
        padding: 10px 10px;
        height: auto;
        text-align: center;
        justify-content: space-between;
    }
    .logo{
        align-items: center;
    }
    .logo ul{
        margin: 10px;
    }
    .logoC{
        margin: 0 !important;
    }
    .search{
        grid-column: 2;
        grid-row: 2;
        grid-column: 1/span 2;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .icons{
        margin-left: 40px !important;
    }
    .icons .bi::before{
        font-size: 18px !important;
        padding: 0 1px !important;
    }
    span{
        font-size: 16px !important;
    }
    a.nav-link.dropdown-toggle{
        font-size: 12px;
    }
}
@media only screen and (max-width: 530px){
    .header{
        width: 95% !important; 
    }
    .logoC{
        font-size: 18px;
    }
    .icons{
        align-items: center;
    }
    .icons .bi{
        padding: 0 5px !important;
        font-size: 12px !important;
    }
    .bi-list{
        margin-top: 2px;
    }
    .icons .bi::before{
        font-size: 14px !important;
        padding: 0 1px !important;
    }
    span{
        font-size: 10px !important;
    }
    .logo ul{
        display: none !important;
    }
    .fa-bag-shopping::before{
        font-size: 18px;
        margin-right: 5px;
    }
    .box-number-order{
        display: none;
    }
}

/* --------------------footer-------------------------- */
footer{
    background-color: var(--Bg-color);
    padding: 85px 0;
    margin-top: 20px;
}
.single-box1{
    width: 400px;
}
.single-box1 h2{
    width: 400px;
}
.single-box p{
    color: var(--LightGold-color);
    line-height: 1.9;
    font-size: 14px;
}
.single-box p span{
    font-weight: 600;
}
.single-box h1{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.single-box h2{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.single-box .card-area i{
    color: var(--LightGold-color);
    font-size: 20px;
    margin-right: 10px;
}
.single-box ul{
    list-style: none;
    padding: 0;
}
.single-box ul li a{
    text-decoration: none;
    color: var(--LightGold-color);
    font-size: 14px;
    line-height: 2.5;
    font-weight: 100;
}
#basic-addon2{
    background: #fe1e4f;
    color: #fff;
}
.socials i{
    font-size: 18px;
    margin-right: 10px;
    
}
::before{
    font-size: 20px;
}
.end-footer{

    background-color: rgb(237, 237, 237) !important;
    padding: 5px 0;
}

.end-footer .content p{
    color: rgba(0,0,0,.5);
    font-size: 12px;
    line-height: 2;
    margin-bottom: 5px;
}

@media only screen and (max-width: 767px){
    .single-box{
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 767px) and (max-width: 991px){
    .single-box{
        margin-bottom: 50px;
    }
}

