@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
:root{
    --LightGold-color: #ffeba7; 
    --Bg-color: #2b2e38;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: var(--Bg-color);
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
body{
	font-family: 'Poppins', sans-serif !important;
	font-weight: 300 !important;
	line-height: 1.7;
	color: #ffeba7;
	/* background-color: var(--LightGold-color) !important; */
}
::before{ 
    margin-top: 6px;
    border: none;
}
input.form-control.me-2{
    width: 450px;
}
ul.dropdown-menu.show{
    background-color: var(--Bg-color);
}
a.nav-link{
    margin-left: 10px;
}
a.dropdown-item:hover{
    background-color: #198754;
}
.navbar-ed{
    background-color: var(--Bg-color) !important;
}
.navbar-ed a{
    color: var(--LightGold-color) !important;
}
button.btn.btn-outline-success.search-btn{
    color: var(--LightGold-color);
}
@media only screen and (max-width: 970px){
    .banner-right{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .menu-tree{
        display: none;
    }
}
/* vi du */
.swiper-container {
    width: 100%;
    height: 300px; /* Điều chỉnh độ cao tùy ý */
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 30px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .swiper-pagination {
    position: relative;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #999;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
  }
  .swiper-pagination-bullet-active {
    background: #333;
  }
