footer{
    display: none;
}
.end-footer{
    display: none;
}
.cart-container{
    margin-top: 50px !important;
    max-width: 1100px;
    margin: 0 auto;
    min-height: auto;
}
.cart-header{
    background: #fff;
    color: #d70018;
    min-height: auto;
    text-align: center;
}
.cart-header-title{
    font-size: 22px;
    font-weight: 600;
}
.cart-content{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.cart-content i{
    margin-bottom: 30px;
}
.cart-content i::before{
    font-size: 50px !important; 
}
.cart-content-notification{
    color: #444;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 50px;
}
.cart-content-go-back{
    background: #d70018;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    text-decoration: none;

}
.cart-content-go-back:hover{
    color: #fff;
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2); 
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 820px){
    .cart-container{
        margin-top: 90px !important;
    }
}
@media only screen and (max-width: 420px){
    .cart-container{
        margin-top: 90px !important;
    }
}
/* --------------------------------------------- */
.cart-list-order{
    margin-top: 100px;
}
.box-order-item{
    padding: 10px 0;
    margin-bottom: 10px;
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.order-item-product{
    display: flex;
    border-bottom: 1px solid rgb(192,192,192);

}
.order-checkbox{
    width: 18px;
}
.order-item-product-img{
    align-items: flex-start;
    width: 170px;
}
.order-item-product-img img{
    padding: 0 10px;
    width: 100%;
    height: auto;
}
.order-item-product-info{
    width: calc(100% - 170px);
}
.order-product-name{
    color: #0e2431;
    font-size: 16px;
    font-weight: 700;
    padding-right: 15px;
}
.box-order-product-price{
    display: flex;
    justify-content: space-between;
}
.order-product-price{
    display: flex;
}
.price-sale{
    margin-right: 5px;
    color: #d70018;
    font-size: 14px;
    font-weight: 700;
}
.unit-price{
    color: #777;
    font-size: 12px;
    margin-left: 2px;
    text-decoration: line-through;
    margin-top: 2px;
}
.quantity-container{
    display: flex;
    align-items: center;
    height: 25px;
}
.quantity-btn-left{
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #f7f7f7;
    border-radius: 15px 0 0 15px;
    border-right: 0;
    height: 25px;
    padding: 0;
    width: 25px;
}

.quantity-btn-right{
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #f7f7f7;
    border-left: 0;
    border-radius: 0 15px 15px 0;
    height: 25px;
    padding: 0;
    width: 25px;
    text-align: center;
}
#quantity-input{
    background: #f7f7f7;
    border: none;
    border-radius: 0;
    border-right: 0;
    font-size: 14px;
    height: 25px;
    padding: 0;
    text-align: center;
    width: 30px;
}
.box-promo{
    border: 1px solid #fef7f7;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.promo-title{
    background-color: #fff3f3;
    color: #d70018;
    gap: 10px;
    height: 42px;
    display: flex;
    padding: 10px 20px;
}
.promo-title-title{
    font-size: 14px;
    font-weight: 600;
}
.promo-info{
    min-height: fit-content;
    padding-bottom: 8px;
    transition: min-height 1s ease;
    list-style-type: disc !important;
    margin: 0 !important;
}
.promo-info-item{
    display: flex;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
}
.promo-info-item{
    color: #444;
    font-size: 13px;
}
.hot-sale{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    background-color: #fff3f3;
    padding: 15px 20px;
}
.hot-sale p{
    margin: 0;
}

.btn-delete-item{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 5px;
}
.fa-trash::before{
    color: #656565;
    font-size: 16px;
}
/* -------------botton-order------------------ */
.botton-order{
    background: #fff;
    max-width: 670px !important;
    margin: 0 auto;
    z-index: 20;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
    padding: 10px;
}
.total-box-order{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 10px;
}
.total-order-title{
    font-weight: 600;
    color: #363636;
    margin: 0;
}
.total-order-price{
    color: #d70018;
    font-weight: 700;
    margin: 0;
}
.btn-submit-order{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}
.btn-order-summit{
    font-weight: 600;
    text-transform: uppercase;
    background-color: #d70018;
    color: #fff;
    border: none;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.btn-order-go-back{
    font-weight: 600;
    padding-top: 6px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    color: #d70018;
    border: 0.5px solid #d70018;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
}
.btn-order-go-back:hover{
    color: #fff;
    background-color: #f1475a;
}
@media only screen and (max-width: 820px){
    .order-item-product input{
        width: 50px;
    }
    .order-item-product input::before{
        font-size: 50px;
    }
    .order-item-product{
        display: flex;
        flex-direction: column;
    }
    .order-item-product-info{
        padding-left: 10px;
    }
    .box-order-product-price{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .box-promo{
        width: 370px;
    }
    .btn-delete-item{
        cursor: pointer;
        position: absolute;
        left: 360px;  
    }
    .fa-trash::before{
        color: #656565;
        font-size: 16px;
    }
}
@media only screen and (max-width: 420px){
    .cart-container{
        margin-top: 90px !important;
    }
}